$red: #bc0067;
$grey: #484647;

.govuk-header,
.govuk-footer {
  background-color: $grey;
  color: white;
  .govuk-footer__link {
    color: white;
  }
}

.govuk-header__container {
  border-color: $red;
}

.govuk-header__link--service-name {
  margin-top: 6px;
}

.govuk-footer__copyright-logo {
  background-image: url('/assets/images/redbridge-logo.svg');
}
